/* Estilos para o corpo da página */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: hsl(0, 0%, 100%);
}

/* Estilos para o cabeçalho */
h1 {
  background-color: #61677A;
  color: #242424;
  padding: 50px 0;
  margin: 0;
  text-align: center;
  margin-bottom: 20px;
}

/* Estilos para a lista de tarefas */
ul {
  list-style: none;
  padding: 50px;
  margin: 0;
}

li {
  background-color: #D8D9DA;
  padding: 10px;
  border: 20px solid #19599e;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}



/* Estilos para links */
a {
  color: #2007c2;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
}


.task-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 50px;
  justify-content: center;
}

.task-block {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.task-block a {
  color: #333;
  margin-left: 10px;
}

.task-block a:hover {
  color: #3498db;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px;
}