{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static '\tasks\styles.css' %}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
  {% block content %}
    <h1>Lista de Tarefas</h1>
    <ul class="task-grid">
        {% for task in tasks %}
            <li class="task-block" style="background-color: {{ task.color }}">
              <h2 class="task-title">
              {{ task.title }}
              {% if task.completed %} 
                <i class="material-icons">check</i>
              {% else %}
                <i class="material-icons" color="red">clear</i>
              {% endif %}
              </h2>
              <p class="task-description">{{ task.description }}</p>
              
              
              <a href="{% url 'update_task' task.pk %}">
                <i class="material-icons">edit</i>  
              </a>
              <a href="{% url 'delete_task' task.pk %}">
                <i class="material-icons">delete</i>
              </a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'add_task' %}">
      <button class="addbutton">Adicionar Tarefa</button> 
  {% endblock %}

</body>
</html>


